:root {
  background-color: #2D2D2D;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
  --purple-color:rgb(157, 97, 255);
}

* {
  font-family:"Fira sans" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}